<div style="background-color: #f1eded; padding: 20px 0px">
    <div class="container">
        <div class="row">
            <div class="col-8">
                <div style="background-color: white; padding: 10px">
                    <h4>Giỏ hàng của bạn</h4>
                    <hr />
                    <p>Bạn đang có 1 sản phẩm trong giỏ hàng</p>
                    <div style="
              border: 2px solid #d7d7d7f8;
              border-radius: 10px;
              padding: 5px;
            ">
                        <div class="row">
                            <div class="col-2">
                                <img src="/img/Ao.png" alt="" width="100%" />
                            </div>
                            <div class="col-8">
                                <h6>Áo Polo Nam Gold+ Cổ Kẻ Chéo I7POL806K</h6>
                                <p>Xanh đậm / S</p>
                                <p>149,000₫ <del>450,000₫</del></p>
                            </div>
                            <div class="col-2">
                                <p>149,000₫</p>
                                <p>Số lượng: 1</p>
                            </div>
                        </div>
                    </div>
                    <div style="background-color: #f1eded; margin: 20px 0px">
                        <p style="margin-bottom: 5px; padding-left: 10px; padding-top: 10px">
                            Ghi chú đơn hàng
                        </p>
                        <div class="input-group">
                            <textarea class="form-control"
                                      aria-label="With textarea"
                                      style="margin: 5px 10px 10px 10px"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div style="background-color: white; padding: 10px">
                    <h4>Thông tin đơn hàng</h4>
                    <hr />
                    <p style="float: left">Tổng giá trước KM:</p>
                    <p style="text-align: right">149,000₫</p>
                    <p style="float: left">Tổng tiền:</p>
                    <p style="text-align: right">
                        <span style="color: red; font-weight: bold; font-size: 20px">
                            149,000₫
                        </span>
                    </p>
                    <hr />
                    <p>TokyoLife FreeShip toàn quốc với đơn hàng từ 500.000Đ!</p>
                    <p>
                        LƯU Ý: Đơn hàng có thể được giao làm nhiều lần do được vận chuyển từ
                        nhiều kho
                    </p>
                    <div class="d-grid gap-2">
                        <button class="btn btn-primary"
                                type="button"
                                style="
                background-color: black;
                border-color: black;
                margin-bottom: 30px;
              ">
                            THANH TOÁN
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
