<div style="background-color: rgb(241, 237, 237); padding: 20px 0px">
    <div class="container">
        <div style="background-color: white; padding: 30px 50px">
            <h4>Về TOKYOLIFE</h4>
            <p>
                TokyoLife là cửa hàng bán lẻ đồ gia dụng, hóa mỹ phẩm, phụ kiện chính
                hãng các thương hiệu Nhật Bản: KAI, Inomata, Ebisu, Lec, ORP Tokyo, Kose
                , Momotani ,Naturie, Rohto , DHC , Orihiro , Naive, Aprica, Kose (Dòng
                Softymo), Shiseido (Dòng Senka, Anessa), KAO, Rosette, Naive, Ebisu,
                Unicharm, Tsubaki , Himawari, Rocket, Gunze-Sabrina, Regart… Nước hoa
                TokyoLife sản xuất tại Pháp. Hóa phẩm lành tính TokyoLife sản xuất tại
                Nhật Bản. Phụ kiện giày, túi, ví, balo và thời trang hiệu TokyoNow,
                TokyoBasic, TokyoSmart, TokyoSecret, In The Now và nhiều thương hiệu
                thời trang, phụ kiện khác sản xuất tại Việt Nam, Trung Quốc, Thái Lan…
            </p>
            <br />
            <h5>Hệ thống cửa hàng</h5>
            <ul>
                <li><p>Hotline CSKH: 024.7300.6999</p></li>
                <li><p>Email CSKH: cskh@tokyolife.vn</p></li>
            </ul>

            <br />
        </div>
    </div>
</div>
